{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = model.active_page %}
{% block title %}{{ model.page_title }} {{ super() }}{% endblock %}

{% block page %}
  <div class="text-center">
    <h1>{{ model.form_title }}</h1>

    {% if model.errors %}
      <div class="alert alert-danger">
      {% for field, errors in model.errors.items() %}
        <div>
          <strong class="text-capitalize">{{ field }}</strong>:
          {{ errors|join(', ') }}
        </div>
      {% endfor %}
      </div>
    {% endif %}

    <form action="{{ model.post_url }}" method="post">
      {{ wtf.quick_form(form,  button_map={'submit_button': 'primary'}, form_type='horizontal', horizontal_columns=('lg', 2, 10)) }}
    </form>
  </div>
{% endblock %}