@font-face {
    font-family: 'DarkSouls';
    src: url('/static/OptimusPrinceps.ttf');
}
@font-face {
    font-family: 'DarkSoulsBold';
    src: url('/static/OptimusPrincepsSemiBold.ttf');
}

/* Some Colors */
a {
    color: #b52828
}
a:visited {
  text-decoration: none;
}
a:hover {
  color: #fd5454;
  text-decoration: none;
}

.btn-primary {
  background-color: #b52828;
  border-color: #b52828;
}
.btn-primary:hover {
  background-color: #fd5454;
  border-color: #fd5454;
}

.btn-default {
  background-color: #3b3b3b;
  border-color: #3b3b3b;
}
.btn-default:hover {
  background-color: #3b3b3b;
  border-color: #fd5454;
}

.icon-primary{
  color: #b52828
}

.brand-icon{
  height: 40px;
}
.navbar-brand{
  font-family: 'DarkSoulsBold', serif;
}
.nav-link {
  font-family: 'DarkSouls', serif;
}

.btn-toolbar{
  padding: 5px 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* Theme customizations */
.list-group-item:hover {
  color: inherit;
  background-color: rgb(34, 34, 34);
}

h1 {
  font-size: 2.5rem;
}
