{% extends "bootstrap/base.html" %}

{% block title %}Estus Shots{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/static/custom.css">
{% endblock %}

{% block content %}

  <div class="container vertical-center">
    <div class="card text-center mx-auto" style="width: 15rem">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form method="post">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control">
          </div>
            <button type="submit" class="btn btn-primary">Enter</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}