{% extends "bootstrap/base.html" %}

{% block title %}Estus Shots{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/static/dark_theme.css">
  <link rel="stylesheet" href="/static/custom.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block body_attribs %}
  style="background-image: url(/static/img/elite.png), url(/static/img/solaire300x300.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;"
{% endblock %}

{% block content %}

  <div class="container vertical-center">
    <div class="card text-center mx-auto" style="width: 15rem">

      <img src="/static/img/estus.png" alt="Login" style="height: 15rem">

      <div class="card-body">
        <form method="post">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control">
          </div>
            <button type="submit" class="btn btn-primary">Enter</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}